.navbar .nav-link {
  font-weight: 500;
  transition: 0.2s;
}

.navbar .nav-link:hover {
  opacity: 0.85;
}

.navbar .btn-light {
  background-color: #fff;
  border: none;
}

.navbar .btn-light:hover {
  background-color: #f0f0f0;
}

@media (max-width: 991.98px) {
  .offcanvas-body .nav-link {
    font-size: 1.1rem; /* Aumenta o tamanho da fonte dos links */
    font-weight: 500;
  }

  .offcanvas-body .btn {
    font-size: 1.1rem;
    font-weight: 600;
  }

  .offcanvas-title {
    font-size: 1.25rem;
  }
}

